<!DOCTYPE html>
<html>
<head>
	<title>Internal CSS example</title>
	<style>
		h1{
			color: red;
			background-color: yellow;
			padding: 30;
			font-style: italic;
			text-align: center;
			font-family: Arial;
		}
		body{
			font-family: consolas;
			font-size: 300%;
			background-color: tomato;
		}
	</style>
</head>
<body>
	<h1>Internal CSS</h1>
	<p>Styling elements in html using internal that is in the head portion of html page</p>
	<table class='tab'>
		<tr>
			<th>S.no</th>
			<th>name</th>
			<th>email</th>
		</tr>
		<tr>
			<td>1</td>
			<td>niharika</td>
			<td>niharikaravela253@gmail.com</td>
		</tr>
	</table>
</body>
</html>