<!DOCTYPE html>
<html>
<head>
	<title>Sample html</title>
</head>
<body bgcolor="cyan">
<center>
	<h1>This is example of html</h1>
	<center><h1><b><i>Django</i></b></h1></center><br><h2>This is Niharika.</h2><br><br><h3>This is the Description.<p>Django is a Python-based free and open-source web framework that follows the model-template-views architectural pattern. It is maintained by the Django Software Foundation, an American independent organization established as a 501 non-profit</p></h3><br><h5>Organised by APPSDC in VITW</h5>
</center>
</body>
</html>